.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .card-title {
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .card-text {
    margin: 5px 0;
  }
  .transparent-input{
    background-color:rgb(215, 241, 250);
    display: flex;
    margin: auto;
    width: 350px;
    height: auto;
 }  
 
 .font-weight{
  color: aliceblue;
  font-weight: 900;
 }

 .bolder{
  font-weight: 800;
 }
